.nav {
  padding-top: 0;

  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

@media(max-width: 600px){

  .nav {
    position: unset;
    transform:unset;  
    display: inline-block;
  }

}
